.title {
  margin: 25px auto 5px;
  width: 500px;
  text-align: center;
}

.paragraph {
  margin: 15px auto;
  width: 500px;
  text-align: center;
  font-size: 20px;

  span {
    font-weight: 500;
  }
}

img {
  transition: all 0.3s ease 0s;
  display: block;
  margin: auto;
  height: 200px;
  width: auto;
  object-fit: cover;
  margin-bottom: 15px;
}

.red {
  color: hsl(358, 75%, 54%);
}

.blue {
  color: hsl(189, 100%, 50%);
}
